

stream {

  upstream gccappop {
    {{ range gets "/compose_gccapp/*" }}
      {{ $keyval := split (.Key) ":" }}
      {{ $url :=  (.Value) }}
      {{ $app :=  (index $keyval 1) }}
      server {{ $url }};
    {{ end }}
  }

  server {
    listen 8080;
    proxy_pass       gccappop;
    }

}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    log_format upstreamlog '[$time_local] $remote_addr passed to: $upstream_addr: $request Upstream Response Time: $upstream_response_time Request time: $request_time';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;



upstream frontendop {
  {{ range gets "/compose_frontend/*" }}
    {{ $keyval := split (.Key) ":" }}
    {{ $url :=  (.Value) }}
    {{ $app :=  (index $keyval 1) }}
    server {{ $url }};
  {{ end }}
}


upstream goappop {
{{ range gets "/compose_goapp/*" }}
  {{ $keyval := split (.Key) ":" }}
  {{ $url :=  (.Value) }}
  {{ $app :=  (index $keyval 1) }}
  server {{ $url }};
  {{ end }}
}



server {
    listen 80;
    server_name www.gramyup.com;

    access_log /var/log/nginx/access.log upstreamlog;

    location / { 
       proxy_pass http://frontendop;
       proxy_redirect off;
       proxy_set_header Host $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    
   }

server {
    listen 80;
    server_name goappop.gramyup.com;
    access_log /var/log/nginx/access.log upstreamlog;
    error_log  /var/log/nginx/error.log;

  
    location / {
    proxy_pass  http://goappop;
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
    }
    
   }
}
